 
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.loader {
  position: relative;
  width: 100px;
}

.block {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.A {
  left: 0;
  animation:  jumpA 1s infinite alternate;
  animation-delay: 0.5s;
}

.B {
  left: 40px; 
  animation:jumpB 1s infinite alternate;
  animation-delay: 1s;
}

.P {
  left: 80px;
  animation: jumpP 1s infinite alternate;
  animation-delay: 2s;
}


@keyframes jumpA {
  0% { top: 0; }
  50% { top: -20px; }
  100% { top: 0; }
}

@keyframes jumpB {
  0% { top: 0; }
  50% { top: -20px; }
  100% { top: 0; }
}

@keyframes jumpP {
  0% { top: 0; }
  50% { top: -20px; }
  100% { top: 0; }
}


