/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@200;300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@900&family=Poppins:wght@200;300&display=swap');

.after-scroll{
    background: transparent linear-gradient(143deg,#e2f8ff,#e2f8ff) 0 0 no-repeat padding-box;
}
.before-scroll{
    background-color:white;
}

.app.light {
    background-color: #f8f8f8 !important;
    color: #333 !important;
  }
  
  .app.dark {
    background-color: #333 !important;
    color: #f8f8f8 !important;
  }

.navbar-container{
    /* opacity: 0.9;
    backdrop-filter: blur(10px); */
    /* box-shadow: 0 0 89px 1px rgb(227, 227, 227); */
    box-shadow: 0px 15px 31px -3px rgba(0,0,0,0.1);
    overflow-x:hidden !important;
    /* background: transparent linear-gradient
    (0deg,#ffffff 0%,#ffffff 100%) 0% 0% no-repeat padding-box; */
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.company-text{
    color: #0b0757;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    opacity: 100%;
    /* font-family:'Times New Roman', Times, serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Dancing Script', cursive !important; */
/* font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */
    /* font-family: 'Lato', sans-serif !important  ;
    font-family: 'Poppins', sans-serif; */
    ;
}
.company-text:hover{
    color: #0b0757;
    opacity: 80%;
}
/* .contact-btn{
    background-color:#014AA8;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #014AA8;
} */
.contact-btn:hover{
    background-color:#fff;
    color: #014AA8;
}
.navbar-links{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    opacity: 70%;
}
.active{
    /* color: #1a0eff; */
    color: #004bab;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.navbar-links:hover{
    color: #004bab;
    opacity: 100%;
    opacity: 100%;
}

@media (max-width:992px){
    .LogoRound{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .li{
        /* margin-top: 20px !important; */
        line-height: 70px;
        font-weight: bold;
        opacity: 1 !important;
    }
}

@media (max-width:450px) {
    .company-text{
        color: #0b0757;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        opacity: 100%;
    }
    .logo{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
    .li{
        /* margin-top: 20px !important; */
        line-height: 70px;
        font-weight: bold;
        opacity: 1 !important;
    }
}


@media (max-width:325px){
    .company-text{
        color: #0b0757;
        font-size: 14px;
    }
    .logo{
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
}