*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.Manufacturing-main-container{
    /* background:linear-gradient(90deg,rgba(240, 229, 229, 0.7),rgba(255, 229, 180, 0.801)); */
    background: transparent linear-gradient(143deg,#f8feff,#e2f8ff) 0 0 no-repeat padding-box;
    border-radius: 5px;
    box-shadow: 0px 15px 31px -3px rgba(0,0,0,0.1);
}
.Manufacturing-main-text{
    font-size: 40px;
    position: relative;
    color: #0b0757;
}
.Manufacturing-main-text::before{
    content: '';
    margin-top: 10px;
    width: 200px;
    height: 5px;
    position: absolute;
    bottom: -20px;
    color: transparent;
    background: transparent linear-gradient(99deg, #5338FF 0%,#FFC465 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
}
.Manufacturing-img-container{
    /* background-color: #fff; */
    background: transparent linear-gradient(143deg,#f8feff,#e2f8ff) 0 0 no-repeat padding-box;
    border-radius: 5px;
}
.Manufacturing-img-box{
    /* border: 1px solid #0b0757; */
    background-color: white;
    /* background: transparent linear-gradient(143deg,#f8feff,#e2f8ff) 0 0 no-repeat padding-box; */
    border-radius: 5px;
}
.Manufacturing-img-box:hover .img-fluid{
    transform: scale(0.9);
    cursor: pointer;
    transition: all 0.4s linear;
}
@media (max-width:450px) {
    .Manufacturing-main-text{
        font-size: 27px;
        position: relative;
        color: #0b0757;
    }
}